@import "common";
.index-app{
  text-align: center;
   .tip{
     text-align: right;
     color: $blue;
     font-size: torem(14);
     padding-top: torem(15);
     margin-right: torem(15);
   }
   .img{
     margin-top:torem(48);
     img{
       display: inline-block;
       width: torem(100);
       height: torem(100);
     }
   }
   .time{
     > span{
       margin-top: torem(15);
       font-size: torem(14);
       color:#999;
       display: inline-block;
     }
     div{
       width:torem(215);
       margin: torem(15) auto 0;
       height: 1px;
       background: #aaa;
       position: relative;
       .loaded{
         position: absolute;
         width:80%;
         height:1px;
         left: 0;
         display: inline-block;
         background: #ccc;
       }
       .had{
         position: absolute;
         width:60%;
         height:1px;
         left: 0;
         display: inline-block;
         background: #ffc000;
       }
       .cur{
         background: #ffc000;
         position: absolute;
         width: torem(10);
         height: torem(10);
         top: 0;
         border-radius: 50%;
         left: 60%;
         transform: translate(-50%,-50%);
         display: inline-block;
       }
     }
   }
   .desc{
     color: #333;
     margin-top: torem(22);
     h3{
       font-weight: normal;
       font-size: torem(18);
     }
     p{
       margin-top: torem(20);
       font-size: torem(16);
     }
   }
   .audio-ctrl{
     margin-top: torem(55);
     span{
       width: torem(60);
       height: torem(60);
       display: inline-block;
       background: url(../img/play.png) no-repeat center center;
       background-size: 100%;
       &.pause{
         background-image: url(../img/pause.png);
       }
     }
   }
   .user-like{
     margin-top: torem(37);
     span{
       width: torem(25);
       height: torem(22.5);
       display: inline-block;
       background: url(../img/like.png) no-repeat center center;
       background-size: 100%;
       &.like-icon{
         background-image: url(../img/un-like.png);
       }
     }
   }
}
