<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>充电300秒</title>
    <link rel="stylesheet" href="dist/css/chongdian300.css">
</head>
<body>
    <section class="app-box">
        <div class="pay-app">
            <div class="app-header">
                <img src="dist/img/pay.png" alt="">
                <span>付费</span>
            </div>
            <div class="pay-con">
                <span class="tip">1元/期，请选择您要续听的期数：</span>
                <div class="pay-list">
                    <span v-for="(p,index) in payment" v-if="index<3" :class="{active:payIndex==index}" @touchStart="payIndex=index">{{p.substance}}期</span>
                    <!-- <span>10期</span>
                    <span>15期</span> -->
                </div>
                <div class="pay-list">
                    <span v-for="(p,index) in payment" v-if="index>=3" :class="{active:payIndex==index}" @touchStart="payIndex=index">{{p.substance}}期</span>
                    <!-- <span>20期</span>
                    <span>30期</span>
                    <span>50期</span> -->
                </div>
                <span class="pay-btn" @touchStart="payClick">支付</span>
                <span class="back-btn" @touchStart="location.href='will.html'">返回</span>
            </div>
        </div>
        <footer class="app-footer"><span>听得懂 用得着</span></footer>
    </section>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="dist/js/vue.min.js"></script>
    <script type="text/javascript" src="dist/js/zepto.js"></script>
    <script type="text/javascript" src="dist/js/chongdian300.js"></script>
    <script type="text/javascript">
        window.onload = function(){
          payReady();
          try {
              //初始化微信jsk sdk配置url 请严格按照微信sdk标准返回结果
              Q_UTILS.WX_SHARE.initParams.url = Q_UTILS.CONSTANTS.URL.OAUTH;
              Q_UTILS.WX_SHARE.initParams.isStringify = true;
              //自定义请求参数
              Q_UTILS.WX_SHARE.initParams.params = {
                  action: 'FM300Shareconfig',
                  rd_session: Q_UTILS.CONSTANTS.RD_SESSION,
                  WX_flag: Q_UTILS.CONSTANTS.WX_FLAG,
                  fromplace: Q_UTILS.CONSTANTS.URL.FROMPLACE,
                  shareID: Q_UTILS.CONSTANTS.URL.SHAREID
              };
              //Q_UTILS.WX_SHARE.initParams.method = 'get';//默认是post
              //初始化
              Q_UTILS.WX_SHARE.init();
          } catch (e) {
              console.log(e);
          }
      };
      try {
          wx.ready(function() {
              Q_UTILS.WX_SHARE.onReady();
          });
      } catch (e) {}
    </script>
</body>
</html>
